---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layout/Layout.astro";
import PostHeader from "../../components/PostHeader.astro";
export async function getStaticPaths() {
    const posts = await getCollection('blog');

    return posts.map((post) => ({
        params: {slug : post.slug},
        props: {post}
    }))
}


interface Props{
    post: CollectionEntry<"blog">
}

const {post} = Astro.props;
const {Content} = await post.render();

---

<Layout title={post.data.title}>
    <PostHeader
        post={post}
    />
    <div class="post__container">
        <Content />
    </div>
</Layout>